/* ---- Navbar ---- */
.logo {
    margin-top: 10px;
}

input.form-control.cs.csh {
    margin-bottom: 20px;
}

.form-mine {
    margin: 60px 0px;
}

.home {
    margin: 40px 0;
}

.form-text {
    max-width: 300px;
    margin: 10px 0;
}

.about {
    margin-top: 40px;
}

.home img {
    width: 100%;
}

.my-spiner {
    display: none;
}

.show {
    display: block !important;
}

.hide {
    display: none;
}